@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
*{
    font-family: 'Fredoka One', cursive;
    /* margin: 0; */
}


body{
    background-color: black;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    
    color: aliceblue;
}
.box{
    border: 2px solid rgb(239, 237, 237);
    display: inline-block;
    padding: 10px;
    text-align: center;
    margin: 0.6rem;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    box-shadow: 0.5px 0.5px 7px rgb(231, 36, 36);
    width: 10rem;
    /* height: 20rem; */
    transition: width 200ms ease-in-out;
    word-wrap: break-word;

}
.box:hover{
    width: 10.5rem;
    transition: width 200ms ease-in-out;
}

#addbtn:hover{
    background-color: rgb(11, 105, 11);
}

#addbtn{
    cursor: pointer;
    border-radius: 5px;
    border: 0;
    outline: none;
    padding: 5px;
    margin-top: 10px; ;
    width: 350px;
    background-color: rgb(45, 210, 48);
    color: white;
}
ul{
    /* float: right; */
    margin-left: 0.1rem;
    margin-top: 0px;
    display: inline-block;
}
li{
    display: inline-block;
    margin: -7px 8px;
    list-style: none;
    cursor: pointer;
    
    line-height: 80px;
    font-size: 18px;
    
}
nav{
    /* border: 2px solid red; */
    margin: -0.5rem;
    height: 3.5rem;
    width: 101.5%;
    background-color: #2b5a5c
}
.logo{
    line-height: 60px;
    padding: 10px;
    font-size: 35px;
    font-weight: 500;
}

#createNoteContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid green; */
}
#title{
    
    width: 400px;
    border-radius: 5px;
    height: 30px;
    text-align: center;
    margin-bottom: 5px ;
}

#description{
    /* display: block; */
    border-radius: 5px;
    width: 400px;
    margin-bottom: 15px;
}

#createNote{
    /* visibility: hidden; */
    /* display: none; */
    /* border: 2px solid red; */
    /* border: 2px solid blue; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    width: 100%;
}
#createNotePopUP{
    /* opacity: 0; */
    
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    /* border: 2px solid blue; */
    box-shadow: 3px 2px 3px 0.2px yellow;
    transition: opacity 200ms ease-in-out ;
    /* background-color: #a33c91; */
    /* background: rgba(227, 88, 193, 0.826); */
    background: linear-gradient(to right,#2b5a5c,#0b404c);
    padding: 20px;
    border-radius: 15px;
}
#viewNotePopUP{
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    box-shadow: 3px 2px 3px 0.2px rgb(32, 69, 99);
    transition: opacity 200ms ease-in-out ;
    background: linear-gradient(to right,#2b5a5c,#0b404c);
    padding: 20px;
    border-radius: 15px;
    text-align: center;

}
.notActive{
    opacity: 0;
    display: none;
}

.active{
    opacity: 1;
    display: block;
}
#close{
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 30px;
    width: 15px;
    height: 15px;
    font-size: 10px;
    text-align: center;
    line-height: 15px;
    justify-content: center;
    cursor: pointer;
    background-color: red;
}
#viewClose{
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 30px;
    width: 15px;
    height: 15px;
    font-size: 10px;
    text-align: center;
    line-height: 15px;
    justify-content: center;
    cursor: pointer;
    background-color: red;
}
#create:hover{
    width: 6.1rem;
    
}
#create{
    margin: 1.5rem;
    padding: 8px;
    border-radius: 5px;
    background-color: rgb(11, 105, 11);
    color: white;
    cursor: pointer;
    border: none;
    
}

.deleteBtn{
    background-color: rgb(236, 8, 31);
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin: 2px;
}
.deleteBtn:hover{
    background-color: rgb(134, 5, 18);
}
.editBtn{
    background-color: rgb(8, 69, 236);
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin: 2px;
}
.editBtn:hover{
    background-color: rgb(2, 32, 116);
}
.viewBtn{
    background-color: rgb(11, 105, 11);
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin: 2px;
}
.viewBtn:hover{
    background-color: rgb(8, 169, 8);
}

#yourNotes{
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    line-height: 2.5rem;
}